page-login {
    .login-content {
        /*    background: #fff;
*/
        background-image: url("/assets/icon/bb.png");
        .logo-row {
            padding-top: 50px;
            padding-bottom: 20px;
        }
        .login-box {
            background: #fff;
            padding: 20px 20px 0px 20px;
            margin-top: 30px;
            border-radius: 10px !important;
        }
        ion-row {
            align-items: center;
            text-align: center;
        }
        .input.lowercase {
            text-transform: lowercase;
        }
        ion-item {
            border-radius: 5px !important;
            padding-left: 30px !important;
            font-size: 0.9em;
            margin-bottom: 10px;
            border: 1px solid #ffffff;
            border-bottom: 0px !important;
            box-shadow: none !important;
        }
        .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
            border-bottom-color: #1f6bb7;
            box-shadow: inset 0 -1px 0 0 #1f6bb7 !important;
        }
        .signup-col {
            margin: 0px 16px 0px 16px;
            padding-bottom: 20px;
        }
        .item-inner {
            border-bottom-color: #ffffff !important;
            box-shadow: none !important;
        }
        .submit-btn {
            background: #1f6bb7;
            border-radius: 5px !important;
            border: 0px solid #ffffff;
            color: #fffff;
        }
        .submit-btn:hover {
            background: #1f6bb7;
            color: white;
            border-radius: 5px !important;
            border: 0px solid #ffffff;
        }
        .register-btn {
            color: #ffffff;
            font-size: 0.8em;
        }
        .register-btn:hover {
            background: #1f6bb7;
            color: #ffffff;
            font-size: 0.8em;
            color: white;
        }
    }
}
